.row{
    margin:0;
}
#footer-contenu{
    background-color: #68227a; 
    padding:20px 0;
}
#footer-contenu li a,#footer-nav li a{
    color:white;
    text-decoration: none;
}
#footer-contenu li a:hover,#footer-contenu h5:hover{
    color:#b3b0b0;
    cursor: pointer;
}
#footer-contenu li{
    margin: 5px 0;
}
#footer-contenu h5{
    color:white;
    text-transform: uppercase;
    font-weight: bold;
}
#footer-nav{
    background-color: #460956;
}
#footer-nav ul{
    margin:0;
}
#footer-nav ul li a{
    text-transform: uppercase;
    display: block;
    padding: 10px 0px;    
}
#two-buttons a{
    display: block;
    width: 100%;
    background-color: #e5e5e5;
    text-align:center;
    padding:10px 15px;
    margin-top: 10px;
    text-transform: uppercase;
    color: #2a2a2b;
    text-decoration: none;  
}
#two-buttons a:hover{
    background-color: #e3e2e2;
}
