@mixin btn-sub-categorie($border-color){
    @extend .btn-categorie;
    border-left:11px solid $border-color;
    width: 273px;
    padding: 19px 26px 22px 17px;
    span{
        width: 150px;
    }
}
@mixin mediaQuery($arg){
    @media screen and (max-width:$arg) {
        @content;
    }
}
@mixin mediaQueryMinMax($min,$max){
    @media screen and (min-width:$min) and (max-width:$max) {
        @content;
    }
}
@mixin displayFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
