$font:'Source Sans Pro', sans-serif;
$primary-color:#68227a;
$paragraph-color:#3c3c3b;
$secondary-color:#2a2a2b;
$orange-color:#e96a22;
$orange-hover-color:#d34f04;
//black button
$btn-black:$secondary-color;
$btn-black-hover:#474747;
//white button
$btn-white:#fff;
$btn-white-text:$secondary-color;
$btn-white-hover:#e3e2e2;
//grey button
$btn-grey:#f0f0f0;
$btn-grey-hover:#e3e2e2;
//categorie button
$btn-cat:#f0f0f0;
$btn-cat-hover:$btn-grey-hover;
//Sub categories border colors
$border-blue:#39b3d7;
$border-orange:#e96a22;
$border-purple:#a23cbc;
$border-grey:#cdcecf;
$border-darkGray:#525252;
//CARD COLOR
$ref-card-span:#323233;
$ref-card-hover:#ebebeb;